.fc-black_overlay{ 
display:none; position: fixed; z-index:1000001; top: 0%;left: 0%;width: 100%;height: 100%;
background-color: black; filter: alpha(opacity=50); cursor:pointer; opacity:0.5; 
}
.fc-white_content {
opacity:1; display:none; margin-top: -320px; margin-left: -485px; width:970px; height:640px; 
position:fixed; top:50%; left:50%; border: none;z-index:1000002;overflow: auto;
}
.fc-main-box{
opacity:1; display:none; margin:15px auto 0 auto; width:930px; position:relative; z-index:1000003;
}
.fc-widget_close{
opacity:1; background: url(https://www.flipcause.com/assets/close-icon.png);
position:absolute; z-index:1000004; right:-16px; top:-16px; display:block; cursor:pointer; width:49px; height:49px;
}
.floating_button{
display: block; margin-top: 0px; margin-left: 0px; width:auto ; height: auto; 
position:fixed; z-index:999999; overflow: auto;
}
@keyframes backfadesin {
from { opacity:0; }
to {opacity:.5;}
}
@-moz-keyframes backfadesin { 
from { opacity:0; }
to {opacity:.5;}
}
@-webkit-keyframes backfadesin { 
from { opacity:0; }
to {opacity:.5;}
}
@-o-keyframes backfadesin {
from { opacity:0; }
to {opacity:.5;}
}
@-ms-keyframes backfadesin {
from { opacity:0; }
to {opacity:.5;}
}
@keyframes fadesin {
0%{ opacity:0; }
50%{ opacity:0; }
75% {opacity: 0; transform: translateY(20px);}
100% {opacity: 1; transform: translateY(0);}
}
@-moz-keyframes fadesin {
0%{ opacity:0; }
50%{ opacity:0; }
75% {opacity: 0; -moz-transform: translateY(20px);}
100% {opacity: 1; -moz-transform: translateY(0);}
}
@-webkit-keyframes fadesin {
0%{ opacity:0; }
50%{ opacity:0; }
75% {opacity: 0; -webkit-transform: translateY(20px);}
100% {opacity: 1; -webkit-transform: translateY(0);}
@-o-keyframes fadesin {
0%{ opacity:0; }
50%{ opacity:0; }
75% {opacity: 0; -o-transform: translateY(20px);}
100% {opacity: 1; -o-transform: translateY(0);}
}
@-ms-keyframes fadesin {
0%{ opacity:0; }
50%{ opacity:0; }
75% {opacity: 0; -ms-transform: translateY(20px);}
100% {opacity: 1; -ms-transform: translateY(0);}
}
