[submodule "themes/hugo-fresh"]
	path = themes/hugo-fresh
	url = https://github.com/StefMa/hugo-fresh.git
[submodule "public"]
	path = public
	url = git@github.com:numpy/numpy.github.com.git
	branch = master
