{% extends "!layout.html" %}

{% set css_files = css_files + ["_static/donation.css"] %}
{% set script_files = script_files + ["_static/donation.js"] %}

{%- block header %}
<div class="container">
  <div class="top-scipy-org-logo-header" style="background-color: #a2bae8;">
    <a href="{{ pathto('index') }}">
      <img border=0 alt="NumPy" src="{{ pathto('_static/numpy_logo.png', 1) }}"></a>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}
<div id="footer-logo" style="float:left;padding:5px 5px 0 150px">
   <a href="http://www.numfocus.org/">
      <img src="{{ pathto('_static/numfocus-logo-small.png', 1) }}"> 
   </a>
</div>
{{ super() }}
{% endblock %}

