.section2 {
    margin-bottom: 30px;
}

.section2 .container {
    display: flex;
    flex-direction: column;
}

.section2-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    letter-spacing: 1.5px;
    font-size: 27px;
}

.section2-header-link {
    display: flex;
    width: 156px;
    align-items: baseline;
    justify-content: space-around;
    font-size: 14px;
    background-color: #EEEEEE;
    text-decoration: none !important;
    border-radius: 3px;
    padding: 8px 15px;
    margin-top: 5px;
}

.section2-header-link-title {
    padding: 2px 5px 0 0;
    color: #013243;
}

section2-header-link i {
    padding: 2px 0 0 0;
}

/* Icon Forward */
.hvr-icon-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    /* Black, with 0% opacity */
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}
.hvr-icon-forward .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-icon-forward:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}

.section2-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section2-box-content {
    height: 175px;
    min-width: 275px;
    width: 325px;
    margin: 30px 30px 30px 0;
    border-radius: 3px;
}

.section2-box-title {
    margin: 15px;
    font-size: 16px;
    text-transform: uppercase;
}

.section2-box-text > a {
    color: #4D77CF;
}

.section2-box-text {
    margin: 30px 15px;
    font-size: 14px;
}

.section2-box-content:hover > .section2-box-text, .section2-box-content:focus > .section2-box-text, .section2-box-content:active > .section2-box-text {
    color: #6C7A89;
}

@media only screen and (max-width: 1280px) {
    .section2 .container {
        align-items: center;
        justify-content: center;
    }

    .section2-box-container {
        justify-content: center;
    }
}

@media only screen and (max-width: 1090px) {
    .section2 .container {
        margin: 0 6vw;
    }
}


@media only screen and (max-width: 525px) {
    .section2-header {
        flex-direction: column;
    }
}

@media only screen and (max-width: 425px) {
    .section2 .container {
        align-items: center;
        justify-content: center;
        margin: 0 10%;
    }

    .section2-box-content {
        margin: 30px;
    }
}

.section2-underline {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    /* Black, with 10% opacity */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.section2-underline:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #013243;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.section2-underline:hover:before, .section2-underline:focus:before, .section2-underline:active:before {
    right: 0;
}
