.section3 {
    padding: 30px;
}

.section3 a:hover {
    text-decoration: none;
    color:black
}

.section3-title {
    display: flex;
    justify-content: center;
    letter-spacing: 1.5px;
    font-size: 27px;
}

.section3-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section3-box-content {
    height: 450px;
    min-width: 275px;
    width: 350px;
    margin: 30px auto;
    border-radius: 3px;
}

.section3 a {
    color: #013243 !important;
}

.section3-box-title {
    margin: 15px;
    font-size: 16px;
    text-transform: uppercase;
}

.section3-box-text {
    margin: 30px 15px;
    font-size: 14px;
}

@media only screen and (max-width: 1300px) {
    .section3-box-container {
        justify-content: center;
    }
}

@media only screen and (min-width: 600px) and (max-width: 700px) {
    .section3-box-container {
        flex-direction: column;
        align-items: center;
    }
}

.section3-underline {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    /* Black, with 10% opacity */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.section3-underline:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #013243;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.section3-underline:hover:before, .section3-underline:focus:before, .section3-underline:active:before {
    right: 0;
}