.section3 {
    padding: 30px;
    margin: 35px 0 0 0;
}

.section3 a:hover {
    text-decoration: none;
    color:black
}

.section3-title {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.section3-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section3-box-content {
    height: 450px;
    width: 20vw;
    margin: 30px 15px;
    border-radius: 5px;
}

.section3-box-title {
    margin: 15px;
    font-size: 16px;
    color:black;
}

.section3-box-text {
    margin: 30px 15px;
    color: black;
}

@media only screen and (min-width: 600px) and (max-width: 700px) {
    .section3-box-container {
        flex-direction: column;
    }
    .section3-box-content {
        height: 550px;
        width: 80vw;
    }
}

@media only screen and (min-width: 701px) and (max-width: 868px) {
    .section3-box-container {
        flex-direction: column;
    }
    .section3-box-content {
        height: 600px;
        width: 80vw;
    }
}

@media only screen and (min-width: 869px) and (max-width: 968px) {
    .section3-box-content {
        height: 650px;
        width: 80vw;
    }
}

@media only screen and (min-width: 969px) and (max-width: 1100x) {
    .section3-box-content {
        height: 700px;
    }
}

@media only screen and (min-width: 1101px) and (max-width: 1279x) {
    .section3-box-content {
        height: 800px;
    }
}

@media only screen and (min-width: 1280px) {
    .section3-box-content {
        height: 500px;
    }
    .section3-box-container {
        flex-wrap: nowrap;
    }
}

.section3-underline {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.section3-underline:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #013243;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.section3-underline:hover:before, .section3-underline:focus:before, .section3-underline:active:before {
    right: 0;
}