.hero-right {
    display: flex;
    width: 100vw;
    /* Black, with 10% opacity */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.numpy-shell-canvas {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 455px;
    background-color: rgb(238, 238, 238);
}

.numpy-shell-container {
    width: 100vw;
    max-width: 1200px;
    height: 100%;
    min-height: 400px;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.shell-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#numpy-shell {
    min-height: 600px;
}

.shell-title-container {
    text-align: center;
    align-items: center;
    background: rgb(238, 238, 238);
}

.shell-title {
    font-size: 35px;
    font-weight: bold;
}

.shell-enable-button {
    position: relative;
    margin: 15px 0;
}

.shell-button {
    width: 225px;
    height: 50px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
    color: rgb(0,0,0);
    background-color: rgb(238, 238, 238);
    border: none;
    border-radius: 25px;
    outline: none;
    /* Black, with 10% opacity */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.shell-lesson {
    display: none;
    text-align: left;
    padding: 15px;
    height: 100%;
}

.shell-lesson > p {
    margin: 2px 0 2px 0;
}

.highlight:not(:last-child) {
    margin-bottom: 1px !important;
}

.CodeMirror {
    max-height: 124px;
}

.CodeMirror-lines {
    min-height: 30px!important;
}

.CodeMirror pre {
    color: rgb(255, 255, 255) !important;
}

.CodeMirror-cursor {
    color: rgb(255, 255, 255) !important;
    border-left: 1px solid white !important;
}

@media only screen and (max-width: 1090px) {
    .numpy-shell-container {
        flex-direction: column;
        justify-content: space-around;
    }

    #numpy-shell {
        width: 100vw;
    }
}
