body {
    font-family: 'Lato', sans-serif;
}

.hero-container {
    height: 100vh;
    min-height: 1000px;
    width: 100vw;
    display: flex;
    align-items: center;
}

.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding-left: 7vw;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-headline {
    display: flex;
    flex-direction: column;
}

.hero-title {
    display: flex;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 100px;
}

.hero-logo {
    max-height: 75px;
    padding: 0px 0 0 15px;
}

.hero-subtitle {
    font-size: 18px;
    max-width: 550px;
}

.hero-cta {
    padding: 30px 0;
}

.hero-demo {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 25px 0 0 25px;
    width: 50vw;
    height: 60vh;
    min-height: 630px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.demo-tutorial {
    margin: 0 40px;
}

.demo-title {
    font-weight: bold;
}

.demo-caret {
    position: absolute;
    top: 5px;
    left: 8px;
    font-weight: bolder;
}

#demo-code {
    border: none;
    height: 70%;
    min-height: 450px;
    width: 80%;
    min-width: 400px;
    max-width: 25vw;
    margin: 45px;
    padding: 4px 17px 50px 17px;
    background-color: #e4f1fe;
    border-radius: 5px;
    font-family: 'Source Code Pro', monospace;
}

#demo-input {
    height: 35px;
}

#demo-button-run {
    width: 170px;
    height: 35px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
    color: #fff;
    background-color: #013243;
    border: none;
    border-radius: 25px;
    outline: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: absolute;
    top: 120px;
}

.shift-enter {
    font-size: 0.8em;
}

#demo-output-parent {
    position: relative;
}

#demo-output {
    position: absolute;
    top: 135px;
}

.cta-button {
    width: 175px;
    height: 45px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
    color:#fff;
    background-color: #013243;
    border: none;
    border-radius: 25px;
    outline: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.code-sample {
    margin: 0 0 0 30px;
}

.background {
    background: url('images/backgrounds/cool-background.png');
    width: 100vw;
    height: 100px;
    object-fit: cover;
}

#navbar-item {
    color: #2e3131;
}

#feature-card {
    height: 475px;
}
#backtotop.visible #backtotop-color:hover {
    background: #ffc553;
}

.mt-30 {
    margin-top: 30px;
}

#section2-image {
    padding: 15px;
    width: 125px;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 15px;
}

p {
    padding: 5px;
}

@media only screen and (max-width: 1087px) {
    .hero-content {
        flex-direction: column;
        padding: 0;
        align-items: center;
    }

    .hero-demo {
        margin-top: 30px;
        min-width: 100vw;
        align-items: center;
        border-radius: 0;
    }
}

@media only screen and (max-width: 600px) {
    .flex-column {
        margin: 0 30px;
    }

    .hero-title {
        font-size: 80px;
    }

    .hero-logo {
        max-height: 60px;
    }

    .hero-subtitle {
        font-size: 16px;
    }

    .hero-demo {
        padding: 15px;
        box-shadow: 15px rgba(0, 0, 0, 0.1);
    }

    .hero-demo {
        width: 100vw;
    }

    #demo-code {
        margin: 30px;
        min-width: 95%;
    }
}

@media only screen and (max-width: 400px) {
    .hero-title {
        font-size: 70px;
    }

    .hero-logo {
        max-height: 50px;
    }

    .hero-subtitle {
        font-size: 14px;
    }
}

@media only screen and (max-width: 320px) {
    .hero-title {
        font-size: 60px;
    }

    .hero-logo {
        max-height: 40px;
    }
}


/* Footer */
.footer-logo-column {
    display: flex;
    justify-content: center;
    padding: 5vw;
    font-size: 1rem;
}

#footer-logo {
    height: 75px;
}

.link-column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.footer-link {
    font-size: 1rem;
}

.footer-actions {
    max-width: 25vw;
    margin: 25px;
}

.sign-up-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin: 15px 0 25px 0;
}

.sign-up-image {
    z-index: 2;
    color: #2e3131;
    padding: 9px 10px 10px 10px;
    border-right: 1px solid #ececec;
    background-color: #ececec;
    border-radius: 5px 0 0 5px;
}

.sign-up-input {
    background-color: white;
    border-radius: 0 5px 5px 0;
    border: none;
    width: 75%;
    height: 35px;
    padding-left: 5px;
    font-size: 14px;
    color: #2e3131;
}

.submission-instructions {
    display: none;
    position: absolute;
    right: 18%;
    font-size: 10px;
    color: #6c7a89;
}

.signup-button {
    display: none;
}

.thank-you {
    display: none;
    height: 75px;
    color: #ececec;
    align-items: center;
}

.social-media-icons {
    display: flex;
}

.copyright {
    font-size: 12px;
}

@media only screen and (max-width: 1150px) {
    .sign-up-input {
        font-size: 12px;
    }
}

@media only screen and (max-width: 850px) {
    #footer-columns {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-actions {
        max-width: 50vw;
    }

    .sign-up-input {
        width: 100%;
    }

    .thank-you {
        justify-content: center;
    }

    .social-media-icons {
        width: 100%;
    }

    .signup-button {
        display: block;
        height: 35px;
        border-radius: 5px;
        margin-left: 5px;
        width: 60px;
        color: black;
    }
/* Shortcuts */
.shortcuts-container {
    width: 100%;
    max-width: 15vw;
    margin: 0 30px 0 30px;
}

.content-container {
    max-width: 85vw;
    margin: 0 30px 0 30px;
}

.shortcuts-title {
    font-size: 17px;
    font-weight: bold;
}

#shortcuts {
    margin-top: 10px;
    border-left: 1px solid #013243;
}

.shortcuts-H2 {
    margin: 5px 5px 0 15px;
    font-size: 15px;
}

.shortcuts-H3 {
    margin: 5px 5px 0 25px;
    font-size: 14px;
}