body {
    font-family: 'Lato', sans-serif;
}

.hero-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding-left: 7vw;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

/* Hero Body Container TODO: Rename this */
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-headline {
    display: flex;
    flex-direction: column;
}

.hero-title {
    display: flex;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 100px;
}

.hero-logo {
    max-height: 75px;
    padding: 0px 0 0 15px;
}

.hero-subtitle {
    font-size: 18px;
    max-width: 550px;
}

.hero-cta {
    padding: 30px 0;
}

.hero-demo {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 25px 0 0 25px;
    width: 50vw;
    height: 60vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.demo-tutorial {
    margin: 0 40px;
}

.demo-title {
    font-weight: bold;
}

.demo-copy {

}

.demo-caret {
    position: absolute;
    top: 125px;
    left: 53px;
    font-weight: bold;
}

#demo-code {
    border: none;
    height: 70%;
    width: 80%;
    margin: 45px;
    padding: 4px 17px 50px 17px;
    background-color: #e4f1fe;
    border-radius: 5px;
    font-family: 'Source Code Pro', monospace;
}

#demo-input {
    height: 35px;
}

#demo-button-run {
    width: 100px;
    height: 35px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
    color: #fff;
    background-color: #013243;
    border: none;
    border-radius: 25px;
    outline: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: absolute;
    top: 240px;
    left: 455px;
}

#demo-output-parent {
    position: relative;
}

#demo-output {
    position: absolute;
    top: 135px;
}

.cta-button {
    width: 175px;
    height: 45px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
    color:#fff;
    background-color: #013243;
    border: none;
    border-radius: 25px;
    outline: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.code-sample {
    margin: 0 0 0 30px;
}

.background {
    background: url('images/backgrounds/cool-background.png');
    width: 100vw;
    height: 100px;
    object-fit: cover;
}

#navbar-item {
    color: #2e3131;
}

#feature-card {
    height: 475px;
}
#backtotop.visible #backtotop-color:hover {
    background: #ffc553;
}

.mt-30 {
    margin-top: 30px;
}

#section2-image {
    padding: 15px;
    width: 125px;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 15px;
}

p {
    padding: 5px;
}

.thebelab-button.thebelab-run-button {
    border: none;
    height: 50px;
}