body {
    font-family: 'Ubuntu', sans-serif;
}

.hero-body {
    position: relative;
    padding: 0;
}

.hero-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}