body {
    font-family: 'Rubik', sans-serif;
}

.hero-content {
    height: 100vh;
    margin: 100px 0 0 0;
}

.hero-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero-logo {
    display: flex;
    flex-direction: column;
}

.hero-title {
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
}

.hero-subtitle {
    width: 35vw;
}

.code-sample {
    margin: 0 0 0 30px;
}

#navbar-item {
    color: #2e3131;
}

#feature-card {
    height: 475px;
}
#backtotop.visible #backtotop-color:hover {
    background: #ffc553;
}

.mt-30 {
    margin-top: 30px;
}

#section2-image {
    padding: 15px;
    width: 125px;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 15px;
}

p {
    padding: 5px;
}