<!-- Array libraries Tab Content -->
<li class="array-libraries">
    <p>
        NumPy's API is the starting point when libraries are written to exploit innovative hardware,
        create specialized array types, or add capabilities beyond what NumPy provides.
    </p>
    <table>
        <tr class="highlight-th">
            <td class="bold-text"></td>
            <td class="bold-text">Array Library</td>
            <td class="bold-text">Capabilities & Application areas</td>
            </td>
        </tr>
        <tr>
            <td><img class="first-column-layout" src="images/content_images/arlib/dask.png" alt="Dask"></td>
            <td class="full-center-text"><a href="https://dask.org/">Dask</a></td>
            <td class="left-text">Distributed arrays and advanced parallelism for analytics, enabling performance at scale.</td>
        </tr>
        <tr>
            <td><img class="first-column-layout" src="images/content_images/arlib/cupy.png" alt="CuPy"></td>
            <td class="full-center-text"><a href="https://cupy.chainer.org">CuPy</a></td>
            <td class="left-text">NumPy-compatible array library for GPU-accelerated computing with Python.</td>
        </tr>
        <tr>
            <td><img class="first-column-layout" src="images/content_images/arlib/jax_logo_250px.png" alt="JAX"></td>
            <td class="full-center-text"><a href="https://github.com/google/jax">JAX</a></td>
            <td class="left-text">Composable transformations of NumPy programs: differentiate, vectorize, just-in-time compilation to GPU/TPU.</td>
        </tr>
        <tr>
            <td><img class="first-column-layout" src="images/content_images/arlib/xarray.png" alt="xarray"></td>
            <td class="full-center-text"><a href="https://xarray.pydata.org/en/stable/index.html">Xarray</a></td>
            <td class="left-text">Labeled, indexed multi-dimensional arrays for advanced analytics and visualization</td>
        </tr>
        <tr>
            <td><img class="first-column-layout" src="images/content_images/arlib/sparse.png" alt="sparse"></td>
            <td class="full-center-text"><a href="https://sparse.pydata.org/en/latest/">Sparse</a></td>
            <td class="left-text">NumPy-compatible sparse array library that integrates with Dask and SciPy's sparse linear algebra.</td>
        </tr>
        <tr>
            <td><img class="first-column-layout" src="images/content_images/arlib/pytorch-logo-dark.svg" alt="PyTorch"></td>
            <td class="full-center-text"><a href="https://pytorch.org/">PyTorch</a></td>
            <td class="left-text">Deep learning framework that accelerates the path from research prototyping to production deployment.</td>
        </tr>
        <tr>
            <td><img class="first-column-layout" src="images/content_images/arlib/tensorflow-logo.svg" alt="TensorFlow"></td>
            <td class="full-center-text"><a href="https://www.tensorflow.org">TensorFlow</a></td>
            <td class="left-text">An end-to-end platform for machine learning to easily build and deploy ML powered applications.</td>
        </tr>
        <tr>
            <td><img class="first-column-layout" src="images/content_images/arlib/mxnet_logo.png" alt="MXNet"></td>
            <td class="full-center-text"><a href="https://mxnet.apache.org/">MXNet</a></td>
            <td class="left-text">Deep learning framework suited for flexible research prototyping and production.</td>
        </tr>
        <tr>
            <td><img class="first-column-layout" src="images/content_images/arlib/arrow.png" alt="arrow"></td>
            <td class="full-center-text"><a href="https://github.com/apache/arrow">Arrow</a></td>
            <td class="left-text">A cross-language development platform for columnar in-memory data and analytics.</td>
        </tr>
        <tr>
            <td><img class="first-column-layout" src="images/content_images/arlib/xtensor.png" alt="xtensor"></td>
            <td class="full-center-text"><a href="https://github.com/xtensor-stack/xtensor-python">xtensor</a> </td>
                    <td class="left-text">Multi-dimensional arrays with broadcasting and lazy computing for numerical
                    analysis.</td>
        </tr>
        <tr>
            <td><img class="first-column-layout" src="images/content_images/arlib/xnd.png" alt="xnd"></td>
            <td class="full-center-text"><a href="https://xnd.io">XND</a></td>
            <td class="left-text">Develop libraries for array computing, recreating NumPy's foundational concepts.</td>
        </tr>
                <tr>
            <td><img class="first-column-layout" src="images/content_images/arlib/uarray.png" alt="uarray"></td>
            <td class="full-center-text"><a href="https://uarray.org/en/latest/">uarray</a></td>
            <td class="left-text">Python backend system that decouples API from implementation; unumpy provides a NumPy API.</td>
        </tr>
        <tr>
            <td><img class="first-column-layout" src="images/content_images/arlib/tensorly.png" alt="tensorly"></td>
            <td class="full-center-text"><a href="http://tensorly.org/stable/home.html">TensorLy</a></td>
            <td class="left-text">Tensor learning, algebra and backends to seamlessly use NumPy, MXNet, PyTorch, TensorFlow or CuPy.</td>
        </tr>
        <tr style="border-bottom:2px solid #ececec">
            <td colspan="80%"></td>
        </tr>
    </table>
</li>
