<!-- Array libraries Tab Content -->
<li class="array-libraries">
    <p>
        Numpy array forms the core of the organically growing numeric
        Python <b>array library</b> ecosystem that now supports GPUs, sparse,
        distributed arrays and more.
    </p>
    <p>
        Several of these newer libraries such as CuPy, Sparse and Dask,
        implement the NumPy API adding support for modern user cases,
        newer hardware and higher scalability of array computing. Other
        array libraries such as Xarray, TensorLy consume NumPy API and
        build newer functionality on top of it, thus enhancing array
        computing in Python beyond Numpy capabilities.
    </p>
    <table>
        <tr class="highlight-th">
            <td class="bold-text"></td>
            <td class="bold-text">Array Library</td>
            <td class="bold-text">Capabilities & Application areas</td>
            </td>
        </tr>
        <tr>
            <td><img class="first-column-layout" src="images/content_images/arlib/xarray.png" alt="xarray"></td>
            <td class="full-center-text"><a href="https://xarray.pydata.org/en/stable/index.html">Xarray</a></td>
            <td class="left-text">Labeled, indexed multidimensional arrays for advanced analytics and visualization</td>
        </tr>
        <tr>
            <td><img class="first-column-layout" src="images/content_images/arlib/uarray.png" alt="uarray"></td>
            <td class="full-center-text"><a href="https://uarray.org/en/latest/">uarray</a></td>
            <td class="left-text">Python backend-system that decouples array computing library API definitions from
                implementation to enhance NumPy code capabilities.</td>
        </tr>
        <tr>
            <td><img class="first-column-layout" src="images/content_images/arlib/xnd.png" alt="xnd"></td>
            <td class="full-center-text"><a href="https://xnd.io">XND</a></td>
            <td class="left-text">Container type that maps Python values to typed memory to accelerate financial,
                insurance and scientific computing.</td>
        </tr>
        <tr>
            <td><img class="first-column-layout" src="images/content_images/arlib/xframes.png" alt="xframe"></td>
            <td class="full-center-text"><a href="https://xframe.readthedocs.io/en/latest/index.html">xframe</a></td>
            <td class="left-text">Multi-dimensional labelled array expressions and powerful abstractions for operating,
                analyzing large datasets.</td>
        </tr>
        <tr>
            <td><img class="first-column-layout" src="images/content_images/arlib/sparse.png" alt="sparse"></td>
            <td class="full-center-text"><a href="https://sparse.pydata.org/en/latest/">Sparse</a></td>
            <td class="left-text">Multi-dimensional arrays that integrate with SciPy-sparse, CuPy and Dask for Machine
                Learning and data analytics.</td>
        </tr>
        <tr>
            <td><img class="first-column-layout" src="images/content_images/arlib/dask.png" alt="Dask"></td>
            <td class="full-center-text"><a href="https://dask.org/">Dask</a></td>
            <td class="left-text">Distributed arrays, parallel computing for data analytics in geo-science, banking,
                astronomy, satellite imagery and mobile network modeling.</td>
        </tr>
        <tr>
            <td><img class="first-column-layout" src="images/content_images/arlib/CuPy.png" alt="CuPy"></td>
            <td class="full-center-text"><a href="https://cupy.chainer.org">CuPy</a></td>
            <td class="left-text">NumPy-compatible matrix library accelerated by CUDA used to implement Neural Networks
                for Deep Learning.</td>
        </tr>
        <tr>
            <td><img class="first-column-layout" src="images/content_images/arlib/tensorly.png" alt="tensorly"></td>
            <td class="full-center-text"><a href="http://tensorly.org/stable/home.html">Tensor.ly</a></td>
            <td class="left-text">Tensor learning, algebra and backend to seamlessly use NumPy, MXNet, PyTorch,
                TensorFlow or CuPy for ML recommendation systems.</td>
        </tr>
        <tr>
            <td class="left-text"><img class="first-column-layout" src="images/content_images/arlib/cuDF.png"
                    alt="cudf"></td>
            <td class="full-center-text"><a href="https://github.com/rapidsai/cudf">CuDF</a></td>
            <td class="left-text">GPU DataFrame library built on the Apache Arrow columnar memory format for loading,
                joining, aggregating, filtering, and data wrangling.</td>
        </tr>
        <tr>
            <td><img class="first-column-layout" src="images/content_images/arlib/arrow.png" alt="arrow"></td>
            <td class="full-center-text"><a href="https://github.com/apache/arrow">Arrow</a></td>
            <td class="left-text">Cross-language platform that combines columnar data structure with in-memory data for
                streaming analytics and interactive visualizations.</td>
        </tr>
        <tr>
            <td><img class="first-column-layout" src="images/content_images/arlib/xtensor.png" alt="xtensor"></td>
            <td class="full-center-text"><a href="" https://github.com/xtensor-stack/xtensor-python>xtensor </a> </td>
                    <td class="left-text">Multi-dimensional arrays with broadcasting and lazy computing for numerical
                    analysis.</td>
        </tr>
        <tr style="border-bottom:2px solid #ececec">
            <td colspan="80%"></td>
        </tr>
    </table>
</li>
