{{- $inServerMode := .Site.IsServer }}
{{- $sass         := "style.sass" }}
{{- $cssTarget    := "css/style.css" }}
{{- $cssOpts      := cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}
{{- $fontFace     := replace .Site.Params.font.name " " "+" }}
{{- $fontSizes    := delimit .Site.Params.font.sizes "," }}
{{- $fontUrl      := printf "https://fonts.googleapis.com/css?family=%s:%s" $fontFace $fontSizes }}
<link href="{{ $fontUrl }}" rel="stylesheet">
{{- if $inServerMode }}
{{- $css := resources.Get $sass | toCSS $cssOpts }}
<link rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}">
{{- else }}
{{- $css := resources.Get $sass | toCSS $cssOpts | minify | fingerprint }}
<link rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
{{- end }}
<link rel="stylesheet" type="text/css" href="{{ "css/icons.css" | relURL }}">
<!-- Numpy Favicon -->
<link rel="icon" type="image/png" href="{{ "images/favicon.png" | relURL }}" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Lato:400,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="{{ "css/styles.css" | relURL }}" />
<link rel="stylesheet" type="text/css" href="{{ "css/shell.css" | relURL }}" />
<link rel="stylesheet" type="text/css" href="{{ "css/tabs.css" | relURL }}" />
<link rel="stylesheet" type="text/css" href="{{ "css/content.css" | relURL }}" />
<link rel="stylesheet" type="text/css" href="{{ "css/news.css" | relURL }}" />
<link rel="stylesheet" type="text/css" href="{{ "css/keyfeatures.css" | relURL }}" />
<link rel="stylesheet" type="text/css" href="{{ "css/casestudies.css" | relURL }}" />
