<!-- Data Science Tab Content -->
<li class="data-science">
    <div class="grid-container">
        <div>
            <a href="images/content_images/ds-landscape.png" target="_blank">
            <img src="images/content_images/ds-landscape.png" alt="Diagram of Python Libraries. The five catagories are 'Extract, Transform, Load', 'Data Exploration', 'Data Modeling', 'Data Evaluation' and 'Data Presentation'." align="left">
            </a>
        </div>
        <div>
            <p>
                NumPy lies at the core of a rich ecosystem of data science libraries:
            </p>
            <ul>
                <li><a href="https://pandas.pydata.org">Pandas</a> for data discovery and handling</li>
                <li><a href="https://intake.readthedocs.io/en/latest/"> Intake</a> for
                data access and distribution</li>
                <li><a href="https://www.crummy.com/software/BeautifulSoup/">Beautiful Soup</a>
                for web-scraping and gathering data sets</li>
                <li><a href="https://seaborn.pydata.org"> Seaborn</a> for
                    <a href="https://towardsdatascience.com/how-to-perform-exploratory-data-analysis-with-seaborn-97e3413e841d">exploratory data analysis (EDA)</a></li>
                <li><a href="https://scikit-learn.org">scikit-learn</a> and
                    <a href="https://www.scipy.org">SciPy</a> for
                    backbone processes of machine learning</li>
                <li><a href="https://www.statsmodels.org/stable/index.html"> statsmodels</a>
                    for statistical tests.</li>
            </ul>
        </div>
