<!-- Data Science Tab Content -->
<li class="data-science">
    <div class="grid-container">
        <div>
            <a href="images/content_images/ds-landscape.png" target="_blank">
            <img src="images/content_images/ds-landscape.png" alt="Diagram of Python Libraries. The five catagories are 'Extract, Transform, Load', 'Data Exploration', 'Data Modeling', 'Data Evaluation' and 'Data Presentation'." align="left">
            </a>
        </div>
        <div>
            <p>
                NumPy lies at the core of a rich ecosystem of data science libraries.
            </p>
            <p>
                Data science is the analysis of massive amounts of data
                to gain insight. A typical workflow might be:

                <ul class="content-tab">
                    <li><b>Extract, Transform, Load (ETL):</b>
                        <a href="https://pandas.pydata.org">Pandas</a>,
                        <a href="https://www.crummy.com/software/BeautifulSoup/">Beautiful Soup</a>,
                        <a href="https://intake.readthedocs.io/en/latest/"> Intake</a>
                    </li>

                    <li><b>Explore:</b>
                        <a href="https://seaborn.pydata.org"> Seaborn</a>,
                        <a href="https://matplotlib.org">Matplotlib</a>,

                    </li>

                    <li><b>Model:</b>
                        <a href="https://scikit-learn.org">scikit-learn</a>,
                        <a href="https://www.scipy.org">SciPy</a>,
                        <a href="https://www.statsmodels.org/stable/index.html"> statsmodels</a>.
                    </li>

                    <li><b>Evaluate:</b>
                        NumPy,
                        <a href="https://www.tensorflow.org">TensorFlow</a>
                    </li>

                    <li>
                        <b>Display:</b>
                        <a href="./index.html/#tab-visual"> Data Visualization Tools</a>
                    </li>
                </ul>
            </p>
        </div>
    </div>
    <div class="grid-container">
        <div>
            <p>
                <a href="https://pandas.pydata.org">Pandas </a>helps in data discovery and handling,
                <a href="https://intake.readthedocs.io/en/latest/"> Intake</a> helps with
                data access and distribution, while
                <a href="https://www.crummy.com/software/BeautifulSoup/">Beautiful Soup</a>
                is widely used for web-scraping and gathering data sets.
                <a href="https://seaborn.pydata.org"> Seaborn</a> is well known for
                <a href="https://towardsdatascience.com/how-to-perform-exploratory-data-analysis-with-seaborn-97e3413e841d">exploratory data analysis (EDA)</a>;
                <a href="https://scikit-learn.org">scikit-learn</a> and
                <a href="https://www.scipy.org">SciPy</a> (statistical computing) serve some
                of the backbone processes required for machine learning (regression methods,
                classification, clustering, model validation and selection).
                Statistical data exploration, estimation of various statistical models,
                and conducting statistical tests are some of the functions offered by
                <a href="https://www.statsmodels.org/stable/index.html"> statsmodels</a>.
            </p>
        </div>
        <div>
            <img src="images/content_images/data-science.png" alt="Diagram of three overlapping circle. The circles labeled 'Mathematics', 'Computer Science' and 'Domain Expertise'. In the middle of the diagram, which has the three circles overlapping it, is an area labeled 'Data Science'." align="centre" width="75%">
        </div>
    </div>
    <p>
        Effective data analytics requires deep knowledge of the data domain (e.g.,
        retail, healthcare, marketing, finance, social media, automation, sales, travel,
        etc.) as well as other core disciplines of data science, data engineering, and
        data visualization. Tools such as <a href="https://mlflow.org">MLFlow</a> address
        experiment hyperparameter and result tracking needs, while
        <a href="https://dvc.org"> DVC</a> provides data version control for data science
        and machine learning workflows.
    </p>
</li>
