{{- $hero       := .Site.Params.hero }}
{{- $title      := index $hero "title" }}
{{- $subtitle   := index $hero "subtitle" }}
{{- $buttonText := index $hero "buttontext" }}
{{- $buttonLink := index $hero "buttonlink" }}
{{- $image      := index $hero "image" }}
<div class="hero-container">
    <div class="hero-content">
        <div class="hero-title-content">
            <div class="hero-title">
                {{ $title }}
                <img class="hero-logo" src="{{ printf "/images/%s" $image | relURL }}" alt="Numpy logo. A three-dimensional blue cube with the letter 'N' highlighted in yellow.">
            </div>
            <div class="flex-column">
                {{ with $subtitle }}
                <div class="hero-subtitle">
                    {{ . }}
                </div>
                {{ end }}
                <div class="hero-cta">
                    <button class="cta-button">{{ $buttonText }}</button>
                </div>
            </div>
        </div>
        <div class="hero-right">
            <div class="numpy-shell-canvas">
                <div class="numpy-shell-container">
                    {{ partial "shell-content.html" . }}
                    <!-- Interactive Shell -->
                    <div class="fake-shell" id="demo-code">
                        <div class="demo-caret" aria-label="interactive shell prompt">&gt;</div>
                        <button class="shell-enable-button shell-button" onclick="loadShell();" aria-label="Enables the interactive tutorial shell">
                            Enable
                            <div class="loader-container">
                                <div id="shell-loader" class="loader"></div>
                            </div>
                        </button>
                    </div>
                    <div class="real-shell" id="numpy-shell" style="display: none;">
                        <pre id="demo-code" data-executable="true" data-language="python" style="white-space: pre-line;">import numpy as np</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>