{{- $installationWidget := .Site.Params.installationWidget }}
<section class="installationWidget">
    <div class="container">
        <div><h1 class="main-heading">Quick Start Locally</h1>
            <p class="description"><br>Select your preferences and run the install command. More text here as needed.</p>
        </div>
        <div class="row flex">
            <div class="col-md-3 headings">
                <div class="col-md-12 title-block">
                    <div class="option-text os-text">Your OS</div>
                </div>
                <div class="col-md-12 title-block">
                    <div class="option-text">Package</div>
                </div>
                <div class="col-md-12 title-block">
                    <div class="option-text">Python version</div>
                </div>
                <div class="col-md-12 title-block">
                    <div class="option-text command-text">Run this Command:</div>
                </div>
            </div>

            <div class="col-md-9">
                <div id="os" class="row justify-content-around">
                    <div id="linux" class="col-md-3 option">
                        <div class="option-text">Linux</div>
                    </div>
                    <div id="macos" class="col-md-3 option">
                        <div class="option-text">MacOS</div>
                    </div>
                    <div id="windows" class="col-md-3 option selected">
                        <div class="option-text">Windows</div>
                    </div>
                </div>
                <div id="package" class="row justify-content-around">
                    <div id="conda" class="col-md-3 option selected">
                        <div class="option-text">Conda</div>
                    </div>
                    <div id="pip" class="col-md-3 option">
                        <div class="option-text">Pip</div>
                    </div>
                    <div id="source" class="col-md-3 option">
                        <div class="option-text">Source</div>
                    </div>
                </div>
                <div id="version" class="row justify-content-around">
                    <div id="3.6" class="col-md-3 option version">
                        <div class="option-text">3.6</div>
                    </div>
                    <div id="3.7" class="col-md-3 option version selected">
                        <div class="option-text">3.7</div>
                    </div>
                    <div id="3.8" class="col-md-3 option version">
                        <div class="option-text">3.8</div>
                    </div>
                </div>
                <div class="row">
                    <div class="command-container">
                      <div class="col-md-11 command-to-run"><pre id="command">conda install windows 3.7</pre></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
