<!-- Machine Learning Tab Content -->
{{- $machinelearning := .Site.Params.machinelearning }}
{{- $paras := index $machinelearning "paras" }}
{{- range $paras }}
<li class="machine-learning">
    <div class="grid-container">
        <div class="animation-holder">
            <a href="https://ai.googleblog.com/2016/12/open-sourcing-embedding-projector-tool.html">
                <img src="/images/content_images/ml_img/tensorflow-ml-anim.gif" alt="An animated gif showing a three-dimensional graph of embeddings made in Tensorflow." align="middle" class="animation-img">
            </a>
            <p>
                <i style="font-size:80%;">
                    <a href="https://ai.googleblog.com/2016/12/open-sourcing-embedding-projector-tool.html">Source: Google AI Blog</a>
                </i>
            </p>
        </div>
        <div>
            <p>
                {{ .para1 | markdownify }}
            </p>
        </div>
    </div>
    <div>
        <div>
            <p>
                {{ .para2 | markdownify }}
            </p>
        </div>
    </div>
</li>
{{- end }}
