<!-- Scientific Domains Tab Content -->
<li class="scientific-domains">
    <p>
        Nearly every scientist working in Python draws on the power of NumPy.
    </p>
    <p>
        NumPy brings the computational power of languages like C and Fortran
        to Python, a language much easier to learn and use. With this power
        comes simplicity: a solution in NumPy is often clear and elegant.
    </p>
    <!-- First Row -->
    <table>
        <tr class="highlight-th">
            <td class="bold-text">Quantum Computing </td>
            <td class="bold-text">Statistical Computing </td>
            <td class="bold-text">Signal Processing </td>
            <td class="bold-text">Image Processing </td>
            <td class="bold-text">3-D Visualization </td>
            <td class="bold-text">Symbolic Computing </td>
            <td class="bold-text">Astronomy Processes </td>
            <td class="bold-text">Cognitive Psychology </td>
        </tr>
        <tr>
            <td><img class="cell-layout" src="images/content_images/sc_dom_img/sd1.png" alt="A computer chip with an atomic symbol."></td>
            <td><img class="cell-layout" src="images/content_images/sc_dom_img/sd2.png" alt="A line graph with the line moving up."></td>
            <td><img class="cell-layout" src="images/content_images/sc_dom_img/sd3.png" alt="A bar chart wiht positive and negative values."></td>
            <td><img class="cell-layout" src="images/content_images/sc_dom_img/sd4.png" alt="An photograph of the sun and mountains."></td>
            <td><img class="cell-layout" src="images/content_images/sc_dom_img/sd5.png" alt="A three-dimensional cube."></td>
            <td><img class="cell-layout" src="images/content_images/sc_dom_img/sd6.png" alt="Multiple mathematical symbols on graph paper."></td>
            <td><img class="cell-layout" src="images/content_images/sc_dom_img/sd7.png" alt="A telescope and multiple planets."></td>
            <td><img class="cell-layout" src="images/content_images/sc_dom_img/sd8.png" alt="A human head with gears."></td>
        </tr>
        <tr>
            <td class="center-text"><a href="http://qutip.org">QuTiP</a></td>
            <td class="center-text"><a href="https://pandas.pydata.org">Pandas</a></td>
            <td class="center-text"><a href="https://www.scipy.org">SciPy</a></td>
            <td class="center-text"><a href="https://scikit-image.org">Scikit-image</a></td>
            <td class="center-text"><a href="https://docs.enthought.com/mayavi/mayavi/">Mayavi</a></td>
            <td class="center-text"><a href="https://www.sympy.org">SymPy</a></td>
            <td class="center-text"><a href="https://www.astropy.org">AstroPy</a></td>
            <td class="center-text"><a href="https://www.psychopy.org">PsychoPy</a></td>
        </tr>
        <tr>
            <td class="center-text"><a href="https://docs.rigetti.com/en/stable/start.html">PyQuil</a></td>
            <td class="center-text"><a href="https://github.com/statsmodels/statsmodels"> statsmodels</a></td>
            <td class="center-text"><a href="https://pywavelets.readthedocs.io">PyWavelets</a></td>
            <td class="center-text"><a href="https://opencv.org">OpenCV</a></td>
            <td class="center-text"><a href="https://napari.org">Napari</a></td>
            <td class="center-text"></td>
            <td class="center-text"><a href="https://github.com/sunpy/sunpy">SunPy</a></td>
            <td class="center-text"></td>
        </tr>
        <tr>
            <td class="center-text"><a href="https://qiskit.org">Qiskit</a></td>
            <td class="center-text"><a href="https://github.com/mwaskom/seaborn">Seaborn</a></td>
            <td class="center-text"></td>
            <td class="center-text"></td>
            <td class="center-text"></td>
            <td class="center-text"></td>
            <td class="center-text"><a href="https://github.com/spacepy/spacepy">SpacePy</a></td>
            <td class="center-text"></td>
        </tr>
    </table>
    <!-- Second Row -->
    <table>
        <tr class="highlight-th">
            <td class="bold-text">Bioinformatics</td>
            <td class="bold-text">Bayesian Inference</td>
            <td class="bold-text">Mathematical Analysis</td>
            <td class="bold-text">Simulation Modeling</td>
            <td class="bold-text">Multi-variate Analysis</td>
            <td class="bold-text">Geographic Processing</td>
            <td class="bold-text">Interactive Computing</td>
        </tr>
        <tr>
            <td><img class="cell-layout" src="images/content_images/sc_dom_img/sd9.png" alt="A strand of DNA."></td>
            <td><img class="cell-layout" src="images/content_images/sc_dom_img/sd10.png" alt="Many dots connected by lines."></td>
            <td><img class="cell-layout" src="images/content_images/sc_dom_img/sd11.png" alt="Four mathematical symbols."></td>
            <td><img class="cell-layout" src="images/content_images/sc_dom_img/sd12.png" alt="A three-dimensional graph with a box."></td>
            <td><img class="cell-layout" src="images/content_images/sc_dom_img/sd13.png" alt="A conical flask and test tube."></td>
            <td><img class="cell-layout" src="images/content_images/sc_dom_img/sd14.png" alt="The Earth surronded by four circling arrows."></td>
            <td><img class="cell-layout" src="images/content_images/sc_dom_img/sd15.png" alt="A human hand tapping a browser window."></td>
        </tr>
        <tr>
            <td class="center-text"><a href="https://biopython.org">BioPython</a></td>
            <td class="center-text"><a href="https://pystan.readthedocs.io/en/latest/">PyStan</a></td>
            <td class="center-text"><a href="https://www.scipy.org">SciPy</a></td>
            <td class="center-text"><a href="https://github.com/robclewley/pydstool">PyDSTool</a></td>
            <td class="center-text"><a href="https://www.ncbi.nlm.nih.gov/pubmed/16882648">PyChem</a></td>
            <td class="center-text"><a href="https://shapely.readthedocs.io">Shapely</a></td>
            <td class="center-text"><a href="https://jupyter.org/">Jupyter</a></td>
        </tr>
        <tr>
            <td class="center-text"><a href="http://scikit-bio.org">Scikit-Bio</a></td>
            <td class="center-text"><a href="https://docs.pymc.io">PyMC3</a></td>
            <td class="center-text"><a href="https://www.sympy.org">SymPy</a></td>
            <td class="center-text"></td>
            <td class="center-text"></td>
            <td class="center-text"><a href="https://geopandas.org/">GeoPandas</a></td>
            <td class="center-text"><a href="https://ipython.org">IPython</a></td>
        </tr>
        <tr>
            <td class="center-text"><a href="https://github.com/openvax/pyensembl">PyEnsembl</a></td>
            <td class="center-text"></td>
            <td class="center-text"><a href="https://github.com/cvxgrp/cvxpy">cvxpy</a></td>
            <td class="center-text"></td>
            <td class="center-text"></td>
            <td class="center-text"><a href="https://python-visualization.github.io/folium">Folium</a></td>
            <td class="center-text"><a href="https://mybinder.org">Binder</a></td>
        </tr>
        <tr>
            <td class="lastrow-center-text"></td>
            <td class="lastrow-center-text"></td>
            <td class="lastrow-center-text"><a href="https://github.com/david-kamensky/tIGAr">FEniCS</a></td>
            <td class="lastrow-center-text"></td>
            <td class="lastrow-center-text"></td>
            <td class="lastrow-center-text"></td>
            <td class="lastrow-center-text"></td>
        </tr>
    </table>
</li>
