<!-- Scientific Domains Tab Content -->
{{ with .Site.Params.scientificdomains }}

<section class="scientific-domains container">
  {{ range .intro }}
  <p>{{ .text }}</p>
  {{ end }}
  <ul>
    {{ range .libraries }}
    <li>
      <header>
        {{ .title }}
      </header>
      <ul>
        <img src="{{ .img }}" alt="{{ .alttext }}">
        {{ range .links }}
        <li>
          <a href="{{ .url }}">{{ .label }}</a>
        </li>
        {{ end }}
      </ul>
    </li>
    {{ end }}
  </ul>
</section>

{{ end }}
