<!-- Scientific Domains Tab Content -->
{{- $scientificdomains := .Site.Params.scientificdomains }}
{{- $intro := index $scientificdomains "intro" }}
{{- $librariesrow1 := index $scientificdomains "librariesrow1" }}
{{- $librariesrow2 := index $scientificdomains "librariesrow2" }}
<li class="scientific-domains">
    {{- range $intro }}
    <p>
        {{ .text }}
    </p>
    {{- end }}
    <!-- First Row -->
    <table>
        <tr class="highlight-th">
            {{- range $librariesrow1 }}
                <td class="bold-text">{{ .title }}</td>
            {{- end }}
        </tr>
        <tr>
            {{- range $librariesrow1 }}
                <td><img class="cell-layout" src="{{ .img }}" alt="{{ .alttext }}"></td>
            {{- end }}
        </tr>
        <tr>
            <td class="center-text"><a href="http://qutip.org">QuTiP</a></td>
            <td class="center-text"><a href="https://pandas.pydata.org">Pandas</a></td>
            <td class="center-text"><a href="https://www.scipy.org">SciPy</a></td>
            <td class="center-text"><a href="https://scikit-image.org">Scikit-image</a></td>
            <td class="center-text"><a href="https://networkx.org">NetworkX</a></td>
            <td class="center-text"><a href="https://www.astropy.org">AstroPy</a></td>
            <td class="center-text"><a href="https://www.psychopy.org">PsychoPy</a></td>
        </tr>
        <tr>
            <td class="center-text"><a href="https://pyquil-docs.rigetti.com/en/stable">PyQuil</a></td>
            <td class="center-text"><a href="https://github.com/statsmodels/statsmodels"> statsmodels</a></td>
            <td class="center-text"><a href="https://pywavelets.readthedocs.io">PyWavelets</a></td>
            <td class="center-text"><a href="https://opencv.org">OpenCV</a></td>
            <td class="center-text"><a href="https://graph-tool.skewed.de/">graph-tool</a></td>
            <td class="center-text"><a href="https://github.com/sunpy/sunpy">SunPy</a></td>
            <td class="center-text"></td>
        </tr>
        <tr>
            <td class="center-text"><a href="https://qiskit.org">Qiskit</a></td>
            <td class="center-text"><a href="https://xarray.pydata.org/en/stable/">Xarray</a></td>
            <td class="center-text"><a href="https://python-control.org">python-control</a></td>
            <td class="center-text"><a href="https://mahotas.rtfd.io/">Mahotas</a></td>
            <td class="center-text"><a href="https://igraph.org/python/">igraph</a></td>
            <td class="center-text"><a href="https://github.com/spacepy/spacepy">SpacePy</a></td>
            <td class="center-text"></td>
        </tr>
        <tr>
            <td class="lastrow-center-text"></td>
            <td class="center-text"><a href="https://github.com/mwaskom/seaborn">Seaborn</a></td>
            <td class="lastrow-center-text"></td>
            <td class="lastrow-center-text"></td>
            <td class="center-text"><a href="https://pygsp.rtfd.io">PyGSP</a></td>
            <td class="lastrow-center-text"></td>
            <td class="lastrow-center-text"></td>
        </tr>

        <!-- Second Row -->
        <tr class="highlight-th">
            {{- range $librariesrow2 }}
                <td class="bold-text">{{ .title }}</td>
            {{- end }}
        </tr>
        <tr>
            {{- range $librariesrow2 }}
                <td><img class="cell-layout" src="{{ .img }}" alt="{{ .alttext }}"></td>
            {{- end }}
        </tr>
        <tr>
            <td class="center-text"><a href="https://biopython.org">BioPython</a></td>
            <td class="center-text"><a href="https://pystan.readthedocs.io/en/latest/">PyStan</a></td>
            <td class="center-text"><a href="https://www.scipy.org">SciPy</a></td>
            <td class="center-text"><a href="https://cantera.org/">Cantera</a></td>
            <td class="center-text"><a href="https://pangeo.io/">Pangeo</a></td>
            <td class="center-text"><a href="https://shapely.readthedocs.io">Shapely</a></td>
            <td class="center-text"><a href="https://compas.dev/">COMPAS</a></td>
        </tr>
        <tr>
            <td class="center-text"><a href="http://scikit-bio.org">Scikit-Bio</a></td>
            <td class="center-text"><a href="https://docs.pymc.io">PyMC3</a></td>
            <td class="center-text"><a href="https://www.sympy.org">SymPy</a></td>
            <td class="center-text"><a href="https://www.mdanalysis.org/">MDAnalysis</a></td>
            <td class="center-text"><a href="https://simpeg.xyz/">Simpeg</a></td>
            <td class="center-text"><a href="https://geopandas.org/">GeoPandas</a></td>
            <td class="center-text"><a href="https://cityenergyanalyst.com/">City Energy Analyst</a></td>
        </tr>
        <tr>
            <td class="center-text"><a href="https://github.com/openvax/pyensembl">PyEnsembl</a></td>
            <td class="center-text"><a href="https://arviz-devs.github.io/arviz/">ArviZ</a></td>
            <td class="center-text"><a href="https://github.com/cvxgrp/cvxpy">cvxpy</a></td>
            <td class="center-text"><a href="https://github.com/rdkit/rdkit">RDKit</a></td>
            <td class="center-text"><a href="https://github.com/obspy/obspy/wiki">ObsPy</a></td>
            <td class="center-text"><a href="https://python-visualization.github.io/folium">Folium</a></td>
            <td class="center-text"><a href="https://nortikin.github.io/sverchok/">Sverchok</a></td>
        </tr>
        <tr>
            <td class="lastrow-center-text"><a href="http://etetoolkit.org/">ETE</a></td>
            <td class="lastrow-center-text"><a href="https://emcee.readthedocs.io/">emcee</a></td>
            <td class="lastrow-center-text"><a href="https://fenicsproject.org/">FEniCS</a></td>
            <td class="lastrow-center-text"></td>
            <td class="lastrow-center-text"><a href="https://www.fatiando.org/">Fatiando a Terra</a></td>
            <td class="lastrow-center-text"></td>
            <td class="lastrow-center-text"></td>
        </tr>
    </table>
</li>
