{{- $section3 := .Site.Params.section3 }}
{{- $title    := index $section3 "title" }}
{{- $features := index $section3 "features" }}
<section class="section3">
    <div class="container">
        <h1 class="section3-title">{{ $title }}</h1>
        <div class="section3-box-container">
            {{- range $features }}
            <a class="section3-box-content section3-underline" href="{{ .url }}">
                <div class="section3-box-title">{{ .title }}</div>
                    <img src="{{ .img }}" alt="{{ .alttext }}">
                <div class="section3-box-text">{{ .text | markdownify }}</div>
            </a>
            {{- end }}
        </div>
    </div>
</section>
