{{- $section2 := .Site.Params.section2 }}
{{- $title    := index $section2 "title" }}
{{- $features := index $section2 "features" }}
<section class="section2">
    <div class="container">
        <h1 class="section2-title">{{ $title }}</h1>
        <div class="section2-box-container">
            {{- range $features }}
            <div class="section2-box-content section2-underline">
                <p>
                    <div class="section2-box-title">{{ .title }}</div>
                    <div class="section2-box-text">{{ .text | markdownify }}</div>
                </p>
            </div>
            {{- end }}
        </div>
    </div>
</section>
