{{- $shellcontent := .Site.Params.shellcontent }}
{{- $intro := index $shellcontent "intro" }}
{{- $loading := index $shellcontent "loading" }}
{{- $docslink := index $shellcontent "docslink" }}
<div class="shell-intro shell-content">
    {{- range $intro }}
    <div class="shell-title">{{ .title }}</div>
    <div class="shell-content-message">{{ .text }}</div>
    {{- end }}
</div>

<div class="shell-wait shell-content" style="display: none;">
    {{- range $loading }}
    <div class="shell-title">{{ .title }}</div>
    <div class="shell-content-message">
        <p>{{ .text }}</p>
    {{- end }}
        <p>{{ $docslink | markdownify }}</p>
    </div>
</div>

<div class="shell-lesson shell-content" style="display: none;">
    {{partial "shell-lesson.html" | print | markdownify}}
</div>
