<div class="shell-intro shell-content">
    <div class="shell-title">Try NumPy</div>
    <div class="shell-content-message">Enable the interactive shell</div>
</div>

<div class="shell-wait shell-content" style="display: none;">
    <div class="shell-title">While we wait...</div>
    <div class="shell-content-message">
        <p>Launching container on mybinder.org...</p>

        <p>Don't forget to check out the <a href="https://numpy.org/doc/stable" target="_blank">docs</a></p>
    </div>
</div>

<div class="shell-lesson shell-content" style="display: none;">
    {{partial "shell-lesson.html" | print | markdownify}}
</div>
