{{- $shell := .Site.Params.shell }}
{{- $promptlabel := index $shell "promptlabel" }}
{{- $button := index $shell "button" }}
<div class="hero-right">
    <div class="numpy-shell-canvas">
        <div class="numpy-shell-container">
            <div class="flex-column shell-title-container">
                {{ partial "shell-content.html" . }}
            </div>
            <!-- Interactive Shell -->
            <iframe
                src="https://replite.vercel.app/retro/consoles/index.html"
                width="100%"
                height="100%"
            >
            </iframe>
        </div>
    </div>
</div>