{{- $tabs := .Site.Params.tabs }}
{{- $title    := index $tabs "title" }}
<section class="tabs-section">
    <div class="container">
        <h1 class="tabs-title">{{ $title }}</h1>

        <div class="uikit-tab-wrapper">
            <ul class="uk-flex-center uk-nav" uk-tab>
                <li class="uk-active"><a href="#">Scientific Domains</a></li>
                <li><a href="#">Array libraries</a></li>
                <li><a href="#">Data Science</a></li>
                <li><a href="#">Machine Learning</a></li>
                <li><a href="#">Visualization</a></li>
            </ul>
            <ul id="tabs-content" class="uk-switcher uk-margin">
                {{ partial "scientific-domains.html" . }}
                {{ partial "array-libraries.html" . }}
                {{ partial "data-science.html" . }}
                {{ partial "machine-learning.html" . }}
                {{ partial "visualization.html" . }}
            </ul>
        </div>
    </div>
</section>
