<!-- Visualization Tab Content -->
<li class="visualization">
    <div class="grid-container">
        <div class="visualization-images">
            <div class="image-grid">
                <div>
                    <a href="https://www.fusioncharts.com/blog/best-python-data-visualization-libraries/">
                        <img src="images/content_images/v_matplotlib.png" alt="A streamplot made in matplotlib"
                            align="middle"/>
                    </a>
                </div>
                <div>
                    <a href="https://github.com/yhat/ggpy">
                        <img src="images/content_images/v_ggpy.png" alt="A scatter-plot graph made in ggpy"
                            align="middle"/>
                    </a>
                </div>
                <div>
                    <a href="https://www.journaldev.com/19692/python-plotly-tutorial">
                        <img src="images/content_images/v_plotly.png" alt="A box-plot made in plotly" align="middle"/>
                    </a>
                </div>
                <div>
                    <a href="https://altair-viz.github.io/gallery/streamgraph.html ">
                        <img src="images/content_images/v_altair.png" alt="A streamgraph made in altair" align="middle"/>
                    </a>
                </div>
                <div>
                    <a href="https://seaborn.pydata.org">
                        <img src="images/content_images/v_seaborn.png"
                            alt="A pairplot of two types of graph, a plot-graph and a frequency graph made in seaborn"
                            align="middle"/>
                    </a>
                </div>
                <div>
                    <a href="https://docs.pyvista.org/examples/index.html">
                        <img src="images/content_images/v_pyvista.png" alt="A 3D volume rendering made in PyVista."
                            align="middle"/>
                    </a>
                </div>
                <div>
                    <a href="https://napari.org">
                        <img src="images/content_images/v_napari.png" alt="A multi-dimensionan image made in napari."
                            align="middle"/>
                    </a>
                </div>
                <div>
                    <a href="http://vispy.org/gallery.html">
                        <img src="images/content_images/v_vispy.png" alt="A Voronoi diagram made in vispy."
                            align="middle"/>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <p>
                NumPy is an essential component in the burgeoning
                <a href="https://pyviz.org/overviews/index.html">Python visualization landscape</a>, which includes
                <a href="https://matplotlib.org">Matplotlib</a>,
                <a href="https://seaborn.pydata.org">Seaborn</a>,
                <a href="https://plot.ly">Plotly</a>,
                <a href="https://altair-viz.github.io">Altair</a>,
                <a href="https://docs.bokeh.org/en/latest/">Bokeh</a>,
                <a href="https://holoviz.org">Holoviz</a>,
                <a href="http://vispy.org">Vispy</a>,
                <a href="https://github.com/napari/napari">Napari</a>, and
                <a href="https://github.com/pyvista/pyvista">PyVista</a>,
                to name a few.
            </p>
            <p>
                NumPy's accelerated processing of large arrays allows researchers to visualize
                datasets far larger than native Python could handle.
            </p>
        </div>
        <div>
        </div>
    </div>
</li>
