# https://github.com/chabad360/hugo-gh-pages
name: github pages

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup Python
        uses: actions/setup-python@v4
      - name: Generate config.yaml
        run: python gen_config.py
      - name: Publish Site
        uses: chabad360/hugo-gh-pages@master
        with:
          githubToken: ${{ secrets.PERSONAL_TOKEN }}
          branch: main
          cname: numpy.org
          repo: numpy/numpy.github.com
          hugoVersion: extended_0.116.1
